.maskCenterWapper{
	width: 100%;
	height: auto;
	position: relative;
	top: 80px;
	.maskCenterLogin{
		width: 100%;
		padding: 10px;
		border-bottom: 0.5px solid #ccc;
		.privilege-info{
			width: 9.33333rem;
			height: 2.13333rem;
			padding-left: 2.33333rem;
			padding-top: 0.4rem;
			.privilege-title{
				font-size: 0.5rem;
				font-weight: 900;
				text-decoration: underline;
			}
		}
	}
	.anticon svg{
		background-color: #D1BAA5;
		border-radius: 10px;
		color: #fff;
		margin-left: 5px;
	}
}