.ShopingCath{
    width: 100%;
    height: 100%;
    background: #F4F4F4;
    .ShopingCath-Title{
        width: 100%;
        height: 40px;
        background: #fff;
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 9999;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.4rem;
        }
    }
    .ShopingCath-Title>div:nth-child(1){
        width: 20%;
    }
    .ShopingCath-Title>div:nth-child(2){
        width: 60%;
    }
    .ShopingCath-Title>div:nth-child(3){
        width: 20%;
        font-size: 0.4rem;
        text-align: center;
        line-height: 40px;
    }
    .ShopingCath-Content{
        background: #F4F4F4;
        padding: 50% 0;
        margin-top: 40px;
        .ShopingCath-nullShow{
            width: 100%;
            height: 300px;
            background: #F4F4F4;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            i{
               color: #ccc;
                svg{
                    width: 2.29333rem;
                    height: 2.29333rem;
                }
            }
            div{
                font-size: 0.4rem;
                color: #ccc;
            }
            button{
                width: 3rem;
                height: 40px;
                margin-top: 1.13333rem;
                background-color: #FF6692;
                border:none;
            }
        }
    }
    .ShopingCath-ContentTwo{
        width: 100%;
        height: 100%;
        background: #fff;
        margin-top: 40px;
        margin-bottom: 115px;
        .BaoZheng{
            width: 100%;
            height: 40px;
            background: #F4F4F4;
            ul{
                margin-bottom: 0rem;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                li:nth-child(1){
                    margin-right: 20px;
                }
                li{
                    // width: 2rem;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    margin-right: 20px;
                    img{
                        width: 0.4rem;
                        height: 0.4rem;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .YinShiZhenChe{
        width: 100%;
        height: 135px;
        background: #FFFBF5;
        padding: 20px;
        color: #FBD2AB;
        font-size: 0.3rem;
        border-bottom: 1px solid #ccc;
    }
    .qcs-GuoNeiCang{
        width: 100%;
        height: 45px;
        display: flex;
        padding: 0 15px;
        justify-content: space-between;
        align-items: center;
        font-size: 0.3rem;
        border-bottom: 1px solid #ccc;
        span:nth-child(1){
            label{
                span{
                    span{
                        background: #4CD7C0;
                        border-radius:50%;
                        -webkit-border-radius:50%;
                        -moz-border-radius:50%;
                        -ms-border-radius:50%;
                        -o-border-radius:50%;
                        margin-right: 5px;
                    }
                }
            }
        }
        .Man{
            color: #FFA9C1;
        }
    }
    .ShopingListData{
        width: 100%;
        height: 100%;
        background: #F4F4F4;
        ul{
            width: 100%;
            height: 100%;
            margin-bottom: 0rem;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            li{
                width: 100%;
                height: 115px;
                background: #fff;
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;
                padding-right: 10px;
                overflow: hidden;
                div:nth-child(1){
                    padding: 0 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    label{
                        span{
                            span{
                                background: #4CD7C0;
                                border-radius:50%;
                                -webkit-border-radius:50%;
                                -moz-border-radius:50%;
                                -ms-border-radius:50%;
                                -o-border-radius:50%;
                                margin-right: 5px;
                            }
                        }
                    }
                }
                div:nth-child(3){
                    padding:10px 0;
                   width: 8rem;
                   padding-right: 10px;
                   display: flex;
                   flex-direction: column;
                   justify-content: space-between;
                   span:nth-child(2){
                       width: 100%;
                       
                       display: inline-block;
                       span:nth-child(1){
                            width: 35%;
                            float: left;
                            margin-top: 15px;
                        }
                       span:nth-child(2){
                           width: 60%;
                           height: 35px;
                           float: left;
                           .ant-input-number{
                               height: 100%;
                               padding: 0;
                               .ant-input-number-handler-wrap{
                                   padding: 0;
                                   width: 30%;
                                   height: 100%;
                                   display: flex;
                                   flex-direction: column;
                                   span{
                                       width: 100%;
                                       margin: 0;
                                       display: flex;
                                       justify-content: center;
                                       align-items: center;
                                       height: 50%;
                                   }
                               }
                               .ant-input-number-input-wrap{
                                   padding: 0;
                                   width: 70%
                               }
                           }
                       }
                   }
                }
                div:last-child{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-top:10px;
                    span:nth-child(1){
                        color: #FFA9C1;
                        font-size: 0.4rem;
                         margin-bottom: 5px;
                    }
                    span:nth-child(2){
                        color: #ccc;
                        font-size: 0.3rem;
                    }
                }
                img{
                    width: 3rem;
                }
            }
        }
    }
    .MaiDian{
        width: 100%;
        height: 115px;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        background: #FEEAF0;
        z-index: 9999;
        .Gouka{
            width: 100%;
            height: 50%;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                display: inline-block;
                width: 7rem;
            }
            button{
                width: 1.5rem;
                margin-left: 20px;
                position: relative;
                background: #FF6692;
                border: none;
                span{
                    position: absolute;
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: 0;
                    left: 0;
                    color: #fff;
                }
            }
        }
        .Zhifu{
            width: 100%;
            height: 50%;
            background: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            div:nth-child(1){
                width: 70%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 5px;
                span:nth-child(1){
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    label{
                        span{
                            span{
                                background: #4CD7C0;
                                border-radius:50%;
                                -webkit-border-radius:50%;
                                -moz-border-radius:50%;
                                -ms-border-radius:50%;
                                -o-border-radius:50%;
                            }
                        }
                    }
                }
                span:nth-child(2){
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span:nth-child(1){
                        font-size: 0.3rem;
                        color: #FFA9C1;
                        padding-left: 5px;
                        display: flex;
                        align-items: flex-end;
                        justify-content: center;
                    }
                    span:nth-child(2){
                        color: #FFA9C1;
                        font-size: 0.5rem;
                    }
                }
            }
            div:nth-child(2){
                width: 30%;
                height: 100%;
                background: #4CD7C0;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.4rem;
            }
        }
    }
    .TuiJian-title{
        width: 100%;
        height: 50px;
        font-size: 0.5rem;
        font-weight: 900;
        text-indent: 20px;
        border-bottom: 1px solid #eee;
        line-height: 50px;
        color: #000;
        margin-bottom: 5px;
    }
}